extends layout 

block content
  h4 System Builder
  div
  table(style='width:100%', border='1')
    thead
      tr 
        th Component 
        th Selection
        th Price
    tbody
      each component in component_list
        tr
          td
            a(href=component.url) #{component.name}
            a(href=) choose #{component.name}

    

  