doctype html
html
  head
    title= title
    link(rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" crossorigin="anonymous")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet")
  nav.navbar.has-background-black
    .navbar-brand
      a.navbar-item.has-text-weight-bold.has-text-primary.is-size-4(href='/list') SYSTEM BUILDER


    
  body
    block content
