extends layout 

block content
  h4 System Builder
  section
    -  if (typeof errors != 'undefined')
      ul
        each error in errors
          li= err.msg
    form(method='POST' action='')
      div
        fieldset
          legend NAME 
          input(minlength='3', required, type='text', name='name', id='name', value=(undefined===product ? '' : product.name))
        fieldset
          legend FEATURES
          textarea(name="", cols="30", rows="5") #{value=(undefined===product ? '' : product.technicalInformation)} 
        fieldset
          legend PRICE
          input(required, type='text', name='price', id='price', value=(undefined===product ? '' : product.price))
        fieldset
          legend STOCK 
          input(min='0', required, type='text', name='price', id='price', value=(undefined===product ? '' : product.stock))
        button(type='submit') Submit
                

    
   

            
      

            

            
    
