body {
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
  background-color: white
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 8px;
}


.list-container {
  background-color: white;
  color:black;
  padding: 2rem;
}

.list-box {
  box-shadow: 0 19px 38px rgba(0,0,0,.3),0 15px 12px rgba(0,0,0,.22);
}

.list-card > hr {
  background-color: black;
  border: 3px solid red;
}

.product-detail-container {
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.list-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7px;
  padding: 15px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2), 
  0px 10px 20px rgba(0,0,0,0.3),;
}

.liner {
  display: flex;
  align-items: flex-start;
  text-align: left;
}
.liner:after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background: black;
  min-width: 20px;
  margin: auto;
  margin-top: 10px;
}

.liner:after {
  margin-left: 20px;
}


.card-item {
  margin: 10px;
  font-weight: bold;
}

.card-item > a {
  background-color: lime;
}

.card-item-0 {
  grid-column: 1 / 3;
}

.card-item-0 > a::after {
  content: "";
  display: inline-block;
  background: gray;
  height: 2px;
  width: 100%;
  overflow-x: hidden;
  margin: 2%;
}

.card-item-1 {

}

.card-item-2 {


}

.card-item-3 {
  grid-column: 1 / 5
}

.card-item-4 {

}

.add-component {
  padding: 15px;
}

.add-component > div > p {
  text-align: center;
}



/** product_detail page styling **/
.secondary-navigation {
  text-align: center;
  background-color: #3b426e;
  padding: 10px;
  color: white;
  padding-top: 6rem;
  padding-bottom: 1.5rem;
  font-size: large;
}

.secondary-navigation h1 {

}

.product-edit > span {
  margin-left: 10px;
}

.product-detail-container {
  background-color: #001119;
}

.edit-product {
  text-align: center;
  font-size: medium;
  background-color: #3b426e;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: 80px;
  color: white;
}

span > a {
  text-decoration: none;
  color: white;
}

span > a:hover {
  color: white;
  text-decoration: underline;
}




.product-detail-container > hr:first-of-type, div > hr:last-child {
  border-top: 3px solid white;
}

.product-detail-container > div > hr {
  border-top: 0.2px solid white;
  border-bottom: 0px solid white;

}



.update, .delete {
  display: inline;
  padding: 2px 5px;
}

.product-image {
  margin-top: 2rem;
}

.product-price {
  font-size: 2rem;
  font-weight: 700;
}

.product-specs {
  padding: 2rem;
}

.features-container {

}

.feature-item {
  list-style-type: none;

}

.add-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 3px solid red;
  width: 90%;
}



.choose-btn {
  width: 50%;
}

.product-titles{
  display: none
}

.list-container > hr {
  display: none;
}




@media only screen and (min-width: 1000px) {
  .list-card {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    font-weight: bold;
  }

  .list-card a, .list-card p{
    font-weight: bold;
  }
  
  .product-titles {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 1rem;
  }
  
  .list-card > div > h1 {
    display: none;
  }

  .component-button {
    width: 100%;
  }

  h5 {
    display: none;
  }

  .card-item-0 {
    grid-column: initial;
  }

  .card-item-0 > a::after {
    content: none;
  }

  .liner:after {
    display: none;
  }

  .add-component {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  }

  .list-container > hr {
    display: block;
  }

  .add-component > div > p {
    text-align: left;
  }
}




/* Product Update */


.update-form-container {

  margin: 0 auto;
  color: white;

}

.product-update-form-container{
  background-color: white;
  width: 70%;
  margin: 2rem auto;
  padding: 60px; 
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2), 
    0px 10px 20px rgba(0,0,0,0.3), 
    0px 30px 60px 1px rgba(0,0,0,0.5);
  border-radius: 8px;
}

.product-update-form {
  background-color: #001119;
  padding: 30px; 
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2), 
    0px 10px 20px rgba(0,0,0,0.3), 
    0px 30px 60px 1px rgba(0,0,0,0.5);
  border-radius: 8px;
}

.legend {
  color: white;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 0;
}


/* Component Detail */

.component-detail {
  margin-top: 2rem;
  padding: 1.5rem;
}

.component-dock {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.component-dock > div > h1{
  display: none;
}

.component-item-1 {
}

.component-item-2 {
  align-self: center;
}

.component-item-3 {
  grid-column: 1 / 3;
  text-align: left;
}

.component-item-4 {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 12px;
  text-align: left;
}

.component-button {
  width: 100%;
}

.component-titles {
  display: none;
}

@media only screen and (min-width: 1000px) {

  .component-dock > div {
  }
  
  .component-dock {
    display: grid;
    grid-template-areas:
    "product title title price view adder"
    "product features features . . .";
    grid-template-columns: 1fr 510px 1fr 1fr 1fr 1fr;
  }

  .component-titles {
    display: grid;
    grid-template-columns: 3fr 550px 2fr 2fr 2fr;
    grid-gap: 4rem;
    background-color: black;
    color: white;
    padding: 10px;
  }

  .component-item-1 {
    grid-area: product;
  }

  .component-item-2 {
    grid-area: price;
  }

  .component-item-3 {
    grid-area: title;
  }

  .component-item-4 {
    grid-area: features;
  }
  
  .component-item-5 {
    grid-area: view;
  }

  .component-item-6 {
    grid-area: adder;
  }




}